@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: black;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0, 0.1);
}

.container .left-side {
    position: relative;
    background: rgb(44, 44, 46);
    padding: 40px;
}

.bio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.bio .img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}

.bio .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio h2 {
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.bio h2 span {
    font-size: 0.8em;
    font-weight: 300;
    text-transform: uppercase;
}

.contact-info {
    padding-top: 40px;
}

.title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-info ul {
    position: relative;
}

.contact-info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact-info a {
    text-decoration: none;
    color: white;
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: lightgrey;
}

.contact-info ul li span {
    color: white;
    font-weight: 300;
    font-size: 15px;
}

.contact-info.education li {
    margin-bottom: 15px;
}

.contact-info.education h5 {
    color: lightgrey;
    font-weight: 500;
}

.contact-info.education h4:nth-child(2) {
    color: white;
    font-weight: 500;
}

.contact-info.education h4 {
    color: white;
    font-weight: 300;
}

.contact-info.language li {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-info.language h5 {
    color: lightgrey;
    font-weight: 500;
}

.contact-info.language h4 {
    color: white;
    font-weight: 300;
}

.container .right-side {
    position: relative;
    background: rgb(237, 240, 238);
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year-place {
    min-width: 150px;
}

.about .box .year-place h5 {
    color: rgb(147, 147, 147);
    font-weight: 600;
}

.about .box .text {
    border-left: 2px dashed rgb(52, 52, 52);
    padding: 0 10px;
}

.about .box .text h4 {
    font-size: 16px;
    font-weight: 600;
}

.skills .title2 {
    margin-top: 50px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    color: rgb(147, 147, 147);
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: rgb(147, 147, 147);
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(48, 48, 48);
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.interest ul li {
    list-style: none;
    color: grey;
    font-weight: 500;
    margin: 15px 0;
    font-size: 20px;
}